[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "meta/plugins/dotbot-paru"]
	path = meta/plugins/dotbot-paru
	url = https://github.com/michaelray27/dotbot-paru.git
